*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
#canvas{
    display: block;
    position:fixed;
}
body{
  overflow: hidden;
}

.colors{
    width:100%;
    display: flex;
    justify-content: space-between;
    bottom: 100%;
    position:fixed;
    bottom: 0;
    margin-bottom: 50px;
}
.colors> li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    transition: all 0.3s;
    display: inline-block;
    margin: 0 12px ;
    }
.colors> li.black{
    background: rgb(22,35,32);
}
.colors> li.red{
    background: rgb(218,75,75);
}
.colors> li.pink{
    background: rgb(248,225,221);
}
.colors> li.darkorange{
    background: rgb(213,123,88);
}
.colors> li.orange{
    background: rgb(241,176,72);
}
.colors> li.yellow{
    background: rgb(253,242,98);
}
.colors> li.green{
    background: rgb(191,218,103);
}
.colors> li.darkgreen{
    background: rgb(106,173,111);
}
.colors> li.blue{
    background: rgb(166,228,210);
}
.colors> li.active{
    box-shadow: 0 0 5px rgba(0,0,0,0.95);
    transform: scale(1.2);
}
.sizes {
    position: fixed;
    right: 20px;
    top: 10px;
}
.sizes > li {
    margin: 20px 0;
}
.sizes > .thin{
    height: 0;
    width: 20px;
    border-top: 3px solid black;
}
.sizes > .thick{
    height: 0;
    width: 20px;
    border-top: 10px solid black;
}
.sizes > li.active{
    transform: scale(1.75);
}
.clear{
    height: 0;
    width: 20px;
    border-top: 20px solid red;
    top:10px;
    left:10px;
    position: relative;
}
